.wrapper {
    max-width: 85%;
    margin: 0 auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-content:center;
}


nav {
    display:flex;
    flex-direction:row;
}


ul {
    display: flex;
    flex:2;
    flex-direction: row;
}

ul, .links {
    align-self: center;
}

.links {
    display:flex;
    justify-items: flex-end;
}
.container {
    max-width:980px;
    margin:0 auto;
}

.center {
    display:flex;
    align-self:center;
}

.flex-wrap {
    flex-wrap:wrap;
}

.space-around {
    justify-content:space-around;
}
.flex-row-reverse {
    display:flex;
    flex-direction:row-reverse;
}