.portfolio-item {
    padding-top:5em;
}

.fig-info {
    margin-top:5%;
}
.fig-cap {
    font-family: 'Playfair Display',serif;
    font-weight: bolder;
    font-size:1.8em;
    margin-bottom:1em;
    z-index:5;
}

a img {
    border:16px solid #e8e8e8;
    box-shadow: 1px 1px 1px 1px lightgrey;
}


.fig-cap-right {
    margin-left:5px;
}

.technologies {
    color:grey;
}

.text-align-right {
    text-align:right;

}

.right-p {
    font-size: 1em;
    margin-left: 15px;
    letter-spacing: 1px;
}

.left-p {
    font-size:1em;
    margin-right:10px;
    letter-spacing: 1px;
}

.fig-cap-left {
    margin-right: 0px;
    z-index:5;
}

a p:hover {
    text-decoration:underline;
    text-decoration-color:#f7e391;
}


#small-line-left {
    margin-left:-27px;
    width:50px;
    height:3px;
}

#small-line-right {
    margin-right: -30px;
    width: 50px;
    z-index:5;
    height:3px;
}

