#small-line-black {
    background-color:black;
}

.toolkit {
    justify-content:space-between;
    align-content:center;
}

figure i {
    font-size:50px;
}

.logo {
    height:50px;
}

#toolkit {
    padding:70px 0 130px;
}


